<div class="notification is-warning" *ngIf="hotels.length == 0">
  <button class="delete"></button>
  No se encontro ningún Hotel.
</div>

<div class="card" *ngFor="let hotel of hotels">
  <div class="card-content">
    <div class="content">
      <div class="columns">
        <div class="column is-4">
          
            <img src="assets/img/hotels/{{hotel.image}}" class="contain" alt="Placeholder image">
        </div>
        <div class="column">
          <div class="columns fit">
            <div class="column is-8 dashed">
              <div class="columns">
                <div class="column">
                  <span class="title title-l is-4">{{hotel.name}}</span>
                  <div>
                    <span class="icon star-ylw" *ngFor="let star of getStars(hotel.stars)"></span>
                  </div>
                  <span class="icon amenity" *ngFor="let amenity of hotel.amenities">
                    <img src="assets/img/amenities/{{amenity}}.svg" alt="">
                  </span>
                </div>
              </div>
            </div>
            <div class="column ">
              <p class="is-size-5 has-text-centered">Precio por noche por habitación</p>
              <h1 class="title has-text-centered price">ARS <strong>{{hotel.price | number : '1.0-0'}}</strong></h1>
              <div class="control is-expanded">
                  <button type="button" class="button is-large is-link btn-full">Ver Hotel</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>